{% extends 'base.html' %}

{% block content %}

<span class="messages"></span>
<form action="{% url 'form-create' %}" method="POST" class="create-form">{% csrf_token %}
  <div class="form-group">
    <button type="submit" class="btn btn-success">Save</button>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="form-group">
        <input type="text" class="form-control form-title" id="form-title" name="form-title" placeholder="Enter form title" value="Untitled Form">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-description" id="form-description" name="form-description" placeholder="Enter form description">
      </div>
    </div>
  </div>
  <div class="card-holder">
    <div class="card question-card">
      <div class="card-block">
        <div class="form-group">
          <input type="text" class="form-control question-text" name="question-text" placeholder="Enter question text">
        </div>
        <div class="form-group">
          <select class="question-type custom-select" name="question-type">
            <option value="text" selected>Text Based</option>
            <option value="mcq_one">MCQ one answer</option>
            <option value="mcq_many">MCQ multiple answers</option>
            <option value="binary">Yes/No based</option>
          </select>
        </div>
        <br>
        <div class="form-group answer">
          <div class="answer-type">
            <!-- <input type="text" class="form-control" name="text-answer" placeholder="Text answer"> -->
          </div>
        </div>
      </div>
      <button class="btn btn-info duplicate-question">Duplicate</button>
    </div>
  </div>
  <button class="btn btn-primary add-question">Add Question</button>
</form>
{% endblock %}